<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Gnome Awards</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>GOTY Of The Year Del Año</h1>

<form th:action="@{/vote}" method="post">

    <div class="images">
        <div class="image-item" th:each="image : ${images}">
            <img th:src="@{${image.imagePath}}" th:alt="${image.name}">
            <div>❤ <span th:text="${image.votes}"></span></div>
            <div style="align-items: center;">
                <input class="radio-button" type="radio" th:value="${image.id}" name="imageId" required>
                <label th:text="${image.name}"></label>
            </div>
        </div>
    </div>

    <div class="form-email">
        <div>
            <label>Email:</label><br>
            <input type="email" name="email" required style="width: 300px; padding: 5px;">
        </div>
        <div class="form-button">
            <button type="submit">Votar</button>
        </div>
    </div>
</form>
</body>
</html>