<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Gnome Awards</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>GOTY Of The Year Del Año</h1>

<div class="email">

</div>

<div class="image-container">
    <div class="image-item" th:each="image : ${images}">
        <form th:action="@{/vote/{id}(id=${image.id})}" method="post">
            <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                <img th:src="@{${image.imagePath}}"
                     th:alt="${image.name}">
            </button>
        </form>
        <div class="vote-count">
            <span class="heart">❤</span>
            <span th:text="${image.votes}"></span>
        </div>
    </div>
</div>
</body>
</html>